*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}

body{
	font-family: 'Source Sans 3', sans-serif;
	//font-family: 'Dancing Script', cursive;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #222831;
	background-color: #eeeeee;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.header{
	.container{
		display: flex;
		justify-content: space-between;

		.header-logo{
			width: 130px;
			height: 130px;
			margin: 30px 0 17px 0;

			img{
				min-width: 100%;
				min-height: 100%;
			}

			&:hover{
				cursor: pointer;
			}
		}

		.burger-menu{
			display: flex;
			align-items: center;
			max-width: 50px;
			.header-menu__img {
				opacity: 1;
				transition: 0.2s ease-in-out;
			
			&:hover {
				cursor: pointer;
				opacity: 0.7;
			}
			}
		}
	}
}

.main{
	.container{
		.main-inner{
			.main-inner__text{
				display: flex;
				flex-direction: column;
				align-items: center;

				h1{
					font-size: 80px;
					font-weight: 700;
					line-height: 70px;
					text-align: center;
					max-width: 537px;
				}
				.main-rectangle{
					margin-top: 30px;
					width: 255px;
					height: 10px;
					background: linear-gradient(90deg, #FD7013 52.66%, #EEF20F 100%);
				}
			}

			.main-slider {
				margin: 110px 0 175px;
				.main-slider__item {
					max-width: 345px;
				}
			}
		}
	}
}



//SLICK

.slick-track{
	margin-left: 32.5px;
}

.slick-dots{
	margin: 60px 0 100px 0;
	display: flex;
	justify-content: center;
	list-style: none;
	

	button{
		margin-right: 20px;
		font-size: 0;
		width: 15px;
		height: 15px;
		border-radius: 200px;
		border: 0;
		background-color: #FD7013;
		opacity: 0.3;
		transition: 0.2s ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
}

.slick-active{
	button{
		opacity: 1;
	}
}

// ***

.rectangle{
	width: 85px;
	height: 10px;
	background: linear-gradient(90deg, #FD7013 42.35%, #EEF20F 100%);
}

.owner{
	.container{
		.owner-inner{
			.owner-up{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				.owner-title{
					margin-right: 20px;
					font-size: 50px;
					font-weight: 700;
				}
			}
			.owner-down{
				margin-top: 60px;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				.owner-down__left{
					max-width: 580px;

					.owner-text__up{
						display: flex;
						justify-content: center;
						font-family: 'Dancing Script', cursive;
						font-weight: 700;
						text-align: justify;
					}

					.owner-text__center{
						margin-top: 20px;
					}

					.owner-text__down{
						margin-top: 20px;
					}

					.sign{
						margin: 16px 0 65px 0;
						display: flex;
						justify-content: flex-end;

						img{
							max-width: 200px;
						}
					}
				}
				.owner-down__right{
					width: 580px;
					height: 390px;
					border-radius: 15px;
				}
			}
		}
	}
}

.courses{
	background: linear-gradient(180deg, #EEEEEE 12.29%, #222831 67.07%);
	.container{
		.courses-inner{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 160px 0;
			.courses-title{
				display: flex;
				align-items: center;
				.courses-title__item{
					margin-right: 20px;
				}
				.courses-title__text{
					font-size: 50px;
					font-weight: 700;
				}
			}
			.courses-grid{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 50px;
				margin-top: 100px;
				
				.course-img{
					display: flex;
					flex-direction: column;
					width: 433px;
					height: 311px;
					font-weight: 700;
					border-radius: 10px;
					transition: 0.2s ease-in-out;
					position: relative;
					opacity: 1;
					text-decoration: none;

					.courses-img__inner{
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-end;

						.course-maintext{
							color: #222831;
							font-size: 20px;
							text-transform: uppercase;
							letter-spacing: 0.1em;
							margin-bottom: 10px;
						}

						.course-subtext{
							color: #222831;
							font-size: 16px;
							padding-bottom: 25px;
						}
					}

					&:hover{
						cursor: pointer;
					}

					&::after{
						content: "";
						z-index: 10;
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: linear-gradient(90deg, #FD7013 25.8%, #EEF20F 100%);
						opacity: 0;
						border-radius: inherit;
						transition: 0.2s ease-in-out;
					}

					&:hover::after{
						opacity: 0.8;
					}

					&::before{
						content: "";
						z-index: 100;
						width: 100%;
						height: 100%;
						border-radius: inherit;
						position: absolute;
						top: 0;
						left: 0;
						background-image: url(../img/before-img.svg);
						opacity: 0;
						transition: 0.2s ease-in-out;
					}

					&:hover::before{
						opacity: 1;
					}
				}

				#c1{
					background-image: url(../img/card-1.svg);
				}

				#c2{
					background-image: url(../img/card-2.svg);
				}

				#c3{
					background-image: url(../img/card-3.svg);
				}

				#c4{
					background-image: url(../img/card-4.svg);
				}

				#c5{
					background-image: url(../img/card-5.svg);
				}

				#c6{
					background-image: url(../img/card-6.svg);
				}
			}
		}
	}
}


.final{
	background-color: #222831;
	.container{
		.final-inner{
			display: flex;
			flex-direction: column;
			.final-inner__up{
				color: #eeeeee;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				.final-up__subtext{
					font-size: 20px;
					font-weight: 400;
					text-transform: uppercase;
					margin-top: 100px;
					margin-bottom: 20px;
				}
				.final-up__title{
					display: flex;
					align-items: center;
					.final-up__maintext{
						margin-left: 20px;
						font-size: 50px;
					}
				}
			}
			.final-inner__down{
				display: flex;
				flex-direction: column;
				align-items: center;
				img{
					width: 100%;
					border-radius: 20px;
					margin-top: 60px;
				}

				.final-line{
					width: 75%;
					height: 1px;
					background-color: #eee;
					margin-top: 100px;
					border-radius: 15px;
				}
			}
		}
	}
}

.footer{
	background-color: #222831;
	font-size: 16px;
	padding-bottom: 70px;
	.container{
		.footer-inner{
			padding-top: 150px;
			display: flex;
			justify-content: center;
			.footer-items{
				width: 100%;
				ul {
					display: flex;
					align-items: flex-start;
					justify-content: space-around;
					list-style: none;
					li{
						display: flex;
						flex-direction: column;
						align-items: center;
						color: #eee;

						a{
							text-decoration: none;
							color: #eee;
							margin-bottom: 10px;

							&:last-child{
								margin-bottom: 0;
							}
						}

						.maintext{
							text-transform: uppercase;
							margin-bottom: 20px;
							font-weight: 700;
						}
						.address{
							opacity: 0.7;
							margin-bottom: 10px;

							&:last-child{
								margin-bottom: 0;
							}
						}

						.contacts{
							opacity: 0.3;
							transition: 0.2s ease-in-out;

							&:hover{
								opacity: 1;
							}
						}

						.social{
							width: 100%;
							flex-direction: row;
							margin-top: 10px;
							display: flex;
							justify-content: space-around;

							.social-item {
								width: 40px;
								height: 40px;
								opacity: 0.3;
								transition: 0.2s ease-in-out;
								&:hover{
									opacity: 1;
								}
							}
							
						}

						.footer-logo{
							width: 100px;
							height: 108px;
						}
					}
				}
			}
		}
	}
}